@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
overflow-x: hidden;
min-height: 100vh;
}
:root{
--Orange-400: hsl(12, 88%, 59%);
--Blue-950: hsl(228, 39%, 23%);
--Gray-950: hsl(233, 12%, 13%);
--Orange-50: hsl(13, 100%, 96%);
--Gray-50: hsl(0, 0%, 98%);
--font-family: "Be Vietnam Pro", sans-serif;
}
#nav{
    display: flex;
   justify-content: space-between;
   padding-top: 50px;
}
#logo{
    height: 30px;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.container{
    padding: 0 100px;
    margin: 0 auto;
    max-width: 1400px;
}
.sct-1-btns{
background-color: var(--Orange-400);
border-radius: 20px;
height: 50px;
width: 180px;
border: none;
color: white;
font-family: var(--font-family);
}
#section-1{
    display: flex;
    justify-content: center;
}
h2{
    color: var(--Blue-950);
    font-size: 40px;
    font-family: var(--font-family);
    line-height: 41px;
    margin-top: 90px;
    display: flex;
    justify-self: normal;
}
p{
    font-family: var(--font-family);
    font-weight: 200;
    margin-top: 5px;
    color: var(--Blue-950);
}
#started{
    margin-top: 25px;
}
button:hover{
    background-color: var(--Orange-50);
    cursor: pointer;
}
#data-img{
    margin-top: 70px;
   
}
#hamburger{
    display: none;
}

@media (max-width: 475px) {
    
body{
    overflow-x: hidden;
}
li{
    display: none;
}
#hamburger{
    display: block;
}
#first-btn{
    display: none;
}
#data-img{
    width: 100%;
    margin-right: 30px;
}
#section-1{
    display: flex;
    flex-direction: column-reverse;

}
.container{
    padding: 20px 40px;
}
h2{
   font-size: 35px;
   margin-left: 10px;
   margin-top: 50px;
}
#started{
    margin-left: 60px;
}
p{
    margin-left: 10px;
}
button{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
}
h4{
    font-family: var(--font-family);
    color: var(--Blue-950);
}
#section-2{
    display: flex;
    flex-direction: row;
}
.sct-2-btns{
    background-color: var(--Orange-400);
    border-radius: 20px;
    height: 50px;
    width: 80px;
    border: none;
    color: white;
    font-family: var(--font-family);
    font-size: 25px;
}
.one-two-and-three{
    display: flex;
    /* border: red solid 5px; */
    flex-direction: column;
    /* row-gap: 40px; */
}
.sct2-divs{
    margin-bottom: 30px;
    width: 480px;
}
#h2-sct2{
    margin-right: 30px;
   
}
@media (max-width: 475px) {

    .sct2-divs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #section-2{
        display: flex;
        flex-direction: column;
    }
}
#sct-2-h2{
    align-self: center;
    display: flex;
    justify-self: center;
}
.sct-2-img{
    width: 45px;
    display: flex;
    justify-self: center; 
}
.text-sct2{
    display: flex;
    justify-self: center;   
}
.title-and-button{
    display: flex;
    
}
.fix-button{
    display: flex;
    gap: 20px;
}
.sct2-h3{
    color: var(--Blue-950);
    font-family: var(--font-family);
    
}